@tailwind base;
@tailwind components;
@tailwind utilities;

.straight-animation-enter {
    transform: translate(500px);
}

.straight-animation-enter-active {
    transform: translate(-500px);
    transition: transform 1000ms;
}

.straight-card-animation-enter {
    transform: translate(-500px);
}

.straight-card-animation-enter-active {
    transform: translate(500px);
    transition: transform 1000ms;
}

.scale-card-animation-enter {
    transform: scale(.5) (0px, 100px);
}

.scale-card-animation-enter-active {
    transform: scale(1.5) translate(100px, -100px);
    transition: transform 1000ms
}

.crossout-card-animation-enter {
    transform: translate(200px,-100px);
}

.crossout-card-animation-enter-active {
    transform: translate(575px, 200px);
    transition:transform 500ms ease-in-out
}